body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:829px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:412px;
  height:829px;
  display:flex;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:160px;
  height:15px;
  display:flex;
}
#u583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:53px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:53px;
  display:flex;
}
#u587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:5px;
  width:46px;
  height:45px;
  display:flex;
}
#u588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:52px;
  height:43px;
  display:flex;
}
#u589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:8px;
  width:183px;
  height:40px;
  display:flex;
}
#u590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u591_input {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Papyrus Bold", "Papyrus Normal", "Papyrus", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u591_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Papyrus Bold", "Papyrus Normal", "Papyrus", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u591_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Papyrus Bold", "Papyrus Normal", "Papyrus", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u591_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Papyrus Bold", "Papyrus Normal", "Papyrus", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:37px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Papyrus Bold", "Papyrus Normal", "Papyrus", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:408px;
  height:37px;
  display:flex;
  font-family:"Papyrus Bold", "Papyrus Normal", "Papyrus", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u591_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:37px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Papyrus Bold", "Papyrus Normal", "Papyrus", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u591.hint {
}
#u591_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Papyrus Bold", "Papyrus Normal", "Papyrus", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u591.disabled {
}
#u591_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Papyrus Bold", "Papyrus Normal", "Papyrus", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u591.hint.disabled {
}
#u592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:377px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:110px;
  width:400px;
  height:377px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u594 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:142px;
  width:377px;
  height:311px;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:64px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:64px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:64px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:134px;
  height:64px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:64px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:90px;
  height:64px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:64px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:0px;
  width:67px;
  height:64px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:64px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:0px;
  width:46px;
  height:64px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:64px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:40px;
  height:64px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:64px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:64px;
  width:134px;
  height:64px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:64px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:64px;
  width:90px;
  height:64px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:64px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:64px;
  width:67px;
  height:64px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:64px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:64px;
  width:46px;
  height:64px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:40px;
  height:45px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:128px;
  width:134px;
  height:45px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:128px;
  width:90px;
  height:45px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:45px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:128px;
  width:67px;
  height:45px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:128px;
  width:46px;
  height:45px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:40px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:47px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:173px;
  width:134px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:47px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:173px;
  width:90px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:47px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:173px;
  width:67px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:47px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:173px;
  width:46px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:40px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:47px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:220px;
  width:134px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:47px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:220px;
  width:90px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:47px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:220px;
  width:67px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:47px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:220px;
  width:46px;
  height:47px;
  display:flex;
}
#u620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:267px;
  width:40px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:44px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:267px;
  width:134px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:44px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:267px;
  width:90px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:267px;
  width:67px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:267px;
  width:46px;
  height:44px;
  display:flex;
}
#u625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:161px;
  width:14px;
  height:13px;
  display:flex;
}
#u626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:379px;
  width:14px;
  height:13px;
  display:flex;
}
#u627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:232px;
  width:14px;
  height:15px;
  display:flex;
}
#u628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:285px;
  width:14px;
  height:13px;
  display:flex;
}
#u629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:330px;
  width:14px;
  height:13px;
  display:flex;
}
#u630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:188px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:496px;
  width:400px;
  height:188px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u633 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:528px;
  width:377px;
  height:138px;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:47px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:134px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:47px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:90px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:47px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:0px;
  width:67px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:47px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:0px;
  width:46px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:40px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:47px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:47px;
  width:134px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:47px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:47px;
  width:90px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:47px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:47px;
  width:67px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:47px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:47px;
  width:46px;
  height:47px;
  display:flex;
}
#u644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:40px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:44px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:94px;
  width:134px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:44px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:94px;
  width:90px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:94px;
  width:67px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:94px;
  width:46px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:547px;
  width:14px;
  height:13px;
  display:flex;
}
#u650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:635px;
  width:14px;
  height:15px;
  display:flex;
}
#u651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:590px;
  width:14px;
  height:13px;
  display:flex;
}
#u652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:188px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:693px;
  width:400px;
  height:188px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u655 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:725px;
  width:377px;
  height:138px;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:47px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:134px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:47px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:90px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:47px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:0px;
  width:67px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:47px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:0px;
  width:46px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:40px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:47px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:47px;
  width:134px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:47px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:47px;
  width:90px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:47px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:47px;
  width:67px;
  height:47px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:47px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:47px;
  width:46px;
  height:47px;
  display:flex;
}
#u666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:40px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:44px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:94px;
  width:134px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:44px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:94px;
  width:90px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:94px;
  width:67px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:94px;
  width:46px;
  height:44px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:744px;
  width:14px;
  height:13px;
  display:flex;
}
#u672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:836px;
  width:14px;
  height:15px;
  display:flex;
}
#u673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:794px;
  width:14px;
  height:13px;
  display:flex;
}
#u674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:424px;
  width:14px;
  height:13px;
  display:flex;
}
#u675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
